* {
    padding: 0 20px 20px;
}

.pr {
    margin-right: 200px;
}

.card {
    padding: 10px 0;
}

.card-button {
    width: 100%;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.minus {
    width: 20px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: red;
    color: white;
    font-weight: bold;
}

.count {
    margin-left: 10px;
    width: 20px;
    height: 30px;
}

.plus {
    margin-left: 10px;
    width: 20px;
    height: 30px;
    background-color: green;
    color: white;
    font-weight: bold;
}

.cart-span {
    color: red;
    font-weight: bold;
    margin-left: -10px;
}

.cart-item {
    display: flex;
    border: 1px solid black;
    width: 70%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.price {
    margin-top: 20px;
}

.order-summary {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    right: 50px;
}

.place-order {
    width: 100%;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}